<link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">

<div id="myHeader" class="col s12 continer-header">

  <!-- {% if notice %}
  <p id="notice">"{{ notice }}"</p>
  {% end %} -->
  <h1 class="slogan justify-content-center mb-5">Let 's Eat</h1>
</div>


<!-- Display Navbar -->
<nav>
  <div class="nav-wrapper">
    <a [routerLink]="['/restaurants']" class="brand-logo"><span>Restaurants</span>Watcher</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a [routerLink]="['/restaurants','admin']"><i class="material-icons prefix">store</i> Manage Restaurants</a></li>
      <li><a [routerLink]="['/restaurants','new']"><i class="material-icons prefix">add</i> Add New Restaurant</a></li>
    </ul>
  </div>
</nav>

<!-- Display Main Container -->

<div class="scrolling-wrapper">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator img" src="assets/imgs/indian_cocktail_garden/main.gif" alt="restaurant1">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Spice Hut<i class="material-icons right">more_vert</i></span>
      <p>Want to Check it Out?
        <a href="http://www.spicehutspain.com"><i class="material-icons prefix">language</i>website</a>
        <a href="https://www.google.es/maps/place/Spice+Hut/@38.063988,-0.7257487,17z/data=!3m1!4b1!4m5!3m4!1s0xd63af2c608d06c3:0x6cb7affe9e994a03!8m2!3d38.063988!4d-0.72356?hl=en"><i class="material-icons prefix">place</i>location</a>
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Spice Hut<i class="material-icons right">close</i></span>
      <p>
        Spice Hut Indian Restaurant has been developing an enviable reputation since it's establishment in Torrevieja in 2004.
        We have brought that here to Spice Hut Indian Restaurant in Ciudad Quesada, home to some of the tastiest Indian food found across the Costa Blanca, Spain.
        Spice Hut Indian Restaurant in Ciudad Quesada offers an authentic experience, mixing the contemporary and the traditional in both decor and cuisine.
        Our Master Chef Harish and his team offer an extensive range of Indian food dishes created with panache and verve.
        Only the freshest and finest ingredients are used to prepare these dishes for you to savour.
        We have built our reputation on our Vegetarian Indian food dishes which are freshly made.
        We specialise in Vegetarian Indian food which is truly amazing. If you have not tried our Vegetarian food then you have not lived.
        Why not try one soon.
      </p>
      <div class="col s12 container-img">
        <div class="grided">
          <div col s12><img src="assets/imgs/indian_cocktail_garden/1.jpg" alt="cuisine11"> </div>
          <div col s12><img src="assets/imgs/indian_cocktail_garden/3.jpg" alt="cuisine12"></div>
        </div>
        <div class="grided">
          <div col s12><img src="assets/imgs/indian_cocktail_garden/2.jpg" alt="cuisine13"></div>
          <div col s12><img src="assets/imgs/indian_cocktail_garden/4.jpg" alt="cuisine14"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator img" src="assets/imgs/pappas_bros/main.jpg" alt="restaurant2">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Pappas Bros<i class="material-icons right">more_vert</i></span>
      <p>Want to Check it Out?
        <a href="http://pappasbros.com/"><i class="material-icons prefix">language</i>website</a>
        <a href="https://www.google.com/maps/search/pappas+bros+steakhouse/@31.2972611,-97.2515077,8z/data=!3m1!4b1"><i class="material-icons prefix">place</i>location</a>
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Pappas Bros<i class="material-icons right">close</i></span>
      <p>
        The Pappas Brothers opened their first restaurant in 1976 and set out to serve only the highest quality food, fulfill their Guest's every request and make sure everyone who walked in the door felt like family.
        Since then, we've opened more than 100 restaurants and have become a leader in the hospitality industry. But at Pappas, it's still all about great food, impeccable service and the people who make it happen.
        From the truck driver who delivers only the freshest meats and seafood, to the hostess greeting Guests with a smile, to the server setting down a custom-made entrée with care, everyone at Pappas plays a role in our success.
      </p>
      <div class="col s12 container-img">
        <div class="grided">
          <div col s12><img src="assets/imgs/pappas_bros/5.jpg" alt="cuisine21"> </div>
          <div col s12><img src="assets/imgs/pappas_bros/2.jpg" alt="cuisine22"></div>
        </div>
        <div class="grided">
          <div col s12><img src="assets/imgs/pappas_bros/6.jpg" alt="cuisine23"></div>
          <div col s12><img src="assets/imgs/pappas_bros/4.jpg" alt="cuisine24"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator img" src="assets/imgs/dickey_bbq_pit/main.jpg" alt="restaurant3">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Dickey's Barbecue Pit<i class="material-icons right">more_vert</i></span>
      <p>Want to Check it Out?
        <a href="https://www.dickeys.com/"><i class="material-icons prefix">language</i>website</a>
        <a href="https://www.google.com/maps/search/dickey's+bbq+menu+daily+specials/@32.8199841,-96.8275452,14z/data=!3m1!4b1"><i class="material-icons prefix">place</i>location</a>
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Dickey's Barbecue Pit<i class="material-icons right">close</i></span>
      <p>
        Dickey's Barbecue Pit is a true American success story. In 1941, Travis Dickey, a World War II veteran, opened the first Dickey's Barbecue Pit in Dallas, Texas.
        Dickey was a true Texas character blessed with the gift of gab and the love of authentic, slow-smoked barbecue.
        In the beginning, Dickey’s Barbecue Pit was truly a family operation with Travis working the block and Miss Ollie Dickey serving sandwiches.
        Space on the restaurant sign was rented out to help pay the start-up costs for the restaurant and the menu was limited to beef brisket, pit hams, barbecue beans, potato chips, beer, bottled milk and sodas.
      </p>
      <div class="col s12 container-img">
        <div class="grided">
          <div col s12><img src="assets/imgs/dickey_bbq_pit/6.jpg" alt="cuisine31"> </div>
          <div col s12><img src="assets/imgs/dickey_bbq_pit/8.jpg" alt="cuisine32"></div>
        </div>
        <div class="grided">
          <div col s12><img src="assets/imgs/dickey_bbq_pit/1.gif" alt="cuisine33"></div>
          <div col s12><img src="assets/imgs/dickey_bbq_pit/3.gif" alt="cuisine34"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator img" src="assets/imgs/mR/main.jpg" alt="restaurant4">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">The Mansion Restaurant<i class="material-icons right">more_vert</i></span>
      <p>Want to Check it Out?
        <a href="https://www.rosewoodhotels.com/en/mansion-on-turtle-creek-dallas/dining/mansion-restaurant"><i class="material-icons prefix">language</i>website</a>
        <a href="https://www.google.com/maps/reserve/v/dine/c/AZng8kXKF_c?source=pa&gei=G8maW8GlNcXSjwS96YCwDw&sourceurl=https%3A%2F%2Fwww.google.com%2Fsearch%3Fq%3Dthe%2Bmansion%2Brestaurant%2Bat%2Brosewood%2Bmansion%2Bon%2Bturtle%2Bcreek%26oq%3DThe%2BMansion%2BRestaurant%2Bat%2BRosewood%2BMansion%2Bon%2BTurtle%2BCreek%26aqs%3Dchrome.0.0j69i60j69i64.788j0j4%26sourceid%3Dchrome%26ie%3DUTF-8#/overview"><i class="material-icons prefix">place</i>location</a>
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">The Mansion Restaurant<i class="material-icons right">close</i></span>
      <p>
        The story of the transformation of a residential mansion into one of the best hotels in Dallas spans more than a century.
        Now restored in the style of a grand residence, a passion for excellence and exquisite design has shaped the building and
        Rosewood’s dedication to service ensures every experience and stay is memorable.
      </p>
      <div class="col s12 container-img">
        <div class="grided">
          <div col s12><img src="assets/imgs/mR/3.jpg" alt="cuisine41"> </div>
          <div col s12><img src="assets/imgs/mR/2.jpg" alt="cuisine42"></div>
        </div>
        <div class="grided">
          <div col s12><img src="assets/imgs/mR/4.jpg" alt="cuisine43"></div>
          <div col s12><img src="assets/imgs/mR/1.jpg" alt="cuisine44"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator img" src="assets/imgs/mexican/main.jpg" alt="restaurant5">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Mapache | Modern Mexican<i class="material-icons right">more_vert</i></span>
      <p>Want to Check it Out?
        <a href="https://www.elarroyoathens.com/"><i class="material-icons prefix">language</i>website</a>
        <a href="https://www.google.com/maps?ll=32.20157,-95.854132&z=14&t=m&hl=en&gl=US&mapclient=apiv3&cid=14153833267165862424"><i class="material-icons prefix">place</i>location</a>
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Mapache | Modern Mexican<i class="material-icons right">close</i></span>
      <p>Here is some more information about this restaurant...</p>
      <div class="col s12 container-img">
        <div class="grided">
          <div col s12><img src="assets/imgs/mexican/5.jpg" alt="cuisine51"> </div>
          <div col s12><img src="assets/imgs/mexican/1.jpg" alt="cuisine52"></div>
        </div>
        <div class="grided">
          <div col s12><img src="assets/imgs/mexican/4.jpg" alt="cuisine53"></div>
          <div col s12><img src="assets/imgs/mexican/3.jpg" alt="cuisine54"></div>
        </div>
      </div>
    </div>
  </div>
</div>
